<a href="https://colab.research.google.com/github/newb-dev-1008/GetBoarded_Latitude/blob/ipython/GetBoarded_CoVID_across_Latitudes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project to find the correlation between latitudes and the spread of CoVID-19**

**Objectives/ guidelines to keep in mind:**

*   Segregate all data region-wise
*   Replace the regions column with the corresponding latitudes from the latitudes dataset
*   Visually determine the rates of growth in cases in the most-hit and the least-hit regions
*   Predict the growth of cases and check if latitudes and growth are correlated; whether latitudes behave as a deciding factor in prediction

**IMPORTANT: Remember to add the CSV files everytime you log in to the notebook. The CSV files are kept in the GitHub repository; you can save them to your respective devices and upload them whenever you work.**

**Directions for saving:**

- Go to File - Save a copy on GitHub.
- Select the repository and the branch "ipython".
- **Do not change the name of the Colab notebook while saving.**

Also, try to create a text cell to note the variable names with their specifications wherever possible. It'll be helpful for all teammates.

In [0]:
import pandas as pd

latitudes = pd.read_csv('latitudes.csv')
covid_data = pd.read_csv('covid_19_data.csv')

In [2]:
latitudes_countries = latitudes.iloc[:, :4]
latitudes_countries.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [3]:
covid_data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

**Finding all countries listed in the Country/ Region column of CoVID Dataset:**

In [4]:
covid_data['Country/Region'].unique()   #Returns all unique labels contained in the column
covid_data['Country/Region'].nunique()   #Returns number of unique labels contained in the column

219

**Similarly, finding all countries listed under the 'Country' column of the latitudes dataset**

In [5]:
latitudes_countries['country'].unique()
latitudes_countries['country'].nunique()

245

# **We Observe:**
- China is called "Mainland China" in the CoVID-19 Dataset
- The number of countries in the latitude dataset is more; the countries present in both datasets need to be replaced with their corresponding latitudes

Hence, we need to:
- Check for extra countries in either dataset
- Merge those countries with bigger countries manually (ex: if one dataset calls it US while the other calls it United States, both need to be merged into one label and so on)
- Discard redundant countries/ countries with zero cases

In [6]:
latitudes_countries['country'].unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan',
       'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia',
       'Netherlands Antilles', 'Angola', 'Antarctica', 'Argentina',
       'American Samoa', 'Austria', 'Australia', 'Aruba', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Bermuda', 'Brunei', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Cocos [Keeling] Islands', 'Congo [DRC]',
       'Central African Republic', 'Congo [Republic]', 'Switzerland',
       "Côte d'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cape Verde', 'Christmas Island',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark',
       'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt', 'Western Sahara', 'Eritrea', 'Spain', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands [Islas Malvinas]',
       'Micronesia', 'Faroe Islands', 'France', 'Gabon', 'United Kingdom',
       'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana',
       'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea', 'Greece',
       'South Georgia and the South Sandwich Islands', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana', 'Gaza Strip', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq',
       'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros',
       'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kuwait',
       'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova',
       'Montenegro', 'Madagascar', 'Marshall Islands',
       'Macedonia [FYROM]', 'Mali', 'Myanmar [Burma]', 'Mongolia',
       'Macau', 'Northern Mariana Islands', 'Martinique', 'Mauritania',
       'Montserrat', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico',
       'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Niger',
       'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway',
       'Nepal', 'Nauru', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Puerto Rico', 'Palestinian Territories', 'Portugal', 'Palau',
       'Paraguay', 'Qatar', 'Réunion', 'Romania', 'Serbia', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan',
       'Sweden', 'Singapore', 'Saint Helena', 'Slovenia',
       'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone', 'San Marino',
       'Senegal', 'Somalia', 'Suriname', 'São Tomé and Príncipe',
       'El Salvador', 'Syria', 'Swaziland', 'Turks and Caicos Islands',
       'Chad', 'French Southern Territories', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Timor-Leste', 'Turkmenistan', 'Tunisia',
       'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'U.S. Minor Outlying Islands',
       'United States', 'Uruguay', 'Uzbekistan', 'Vatican City',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Vietnam',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Kosovo', 'Yemen',
       'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
covid_data['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe'],
      dtype=object)

In [0]:
#Define a function to seperate extra countries in both datasets
import numpy as np

def extra_countries(c1, c2):
  extra_countries = []
  for i in c1:
    flag = 0
    for j in c2:
      if (i == j):
        flag = 1
    if (flag == 0):
      extra_countries.append(i)
  
  return np.array(extra_countries)

In [9]:
#Finding countries that are in latitudes.csv but not in covid_19_data.csv

extra_countries(latitudes_countries['country'].unique(), covid_data['Country/Region'].unique())

array(['Anguilla', 'Netherlands Antilles', 'Antarctica', 'American Samoa',
       'Bermuda', 'Bouvet Island', 'Cocos [Keeling] Islands',
       'Congo [DRC]', 'Congo [Republic]', "Côte d'Ivoire", 'Cook Islands',
       'China', 'Christmas Island', 'Falkland Islands [Islas Malvinas]',
       'Micronesia', 'United Kingdom',
       'South Georgia and the South Sandwich Islands', 'Gaza Strip',
       'Heard Island and McDonald Islands', 'Isle of Man',
       'British Indian Ocean Territory', 'Kiribati', 'Comoros',
       'North Korea', 'Lesotho', 'Marshall Islands', 'Macedonia [FYROM]',
       'Myanmar [Burma]', 'Northern Mariana Islands', 'Montserrat',
       'New Caledonia', 'Norfolk Island', 'Nauru', 'Niue',
       'French Polynesia', 'Saint Pierre and Miquelon',
       'Pitcairn Islands', 'Palestinian Territories', 'Palau', 'Réunion',
       'Solomon Islands', 'Saint Helena', 'Svalbard and Jan Mayen',
       'São Tomé and Príncipe', 'Swaziland', 'Turks and Caicos Islands',
       'French Southern Territories', 'Tajikistan', 'Tokelau',
       'Turkmenistan', 'Tonga', 'Tuvalu', 'U.S. Minor Outlying Islands',
       'United States', 'British Virgin Islands', 'U.S. Virgin Islands',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen'], dtype='<U44')

In [10]:
#Finding countries that are in covid_19_data.csv but not in latitudes.csv

extra_countries(covid_data['Country/Region'].unique(),latitudes_countries['country'].unique())

array(['Mainland China', 'US', 'Ivory Coast', 'UK', 'Others',
       'North Macedonia', ' Azerbaijan', 'North Ireland',
       'Saint Barthelemy', 'Palestine', 'Republic of Ireland',
       'St. Martin', 'occupied Palestinian territory', "('St. Martin',)",
       'Channel Islands', 'Holy See', 'Congo (Kinshasa)', 'Reunion',
       'Curacao', 'Eswatini', 'Congo (Brazzaville)',
       'Republic of the Congo', 'The Bahamas', 'The Gambia',
       'Gambia, The', 'Bahamas, The', 'Cabo Verde', 'East Timor',
       'Diamond Princess', 'West Bank and Gaza', 'Burma', 'MS Zaandam',
       'South Sudan', 'Sao Tome and Principe'], dtype='<U30')

**Replace country names in CoVID-19 dataset with matching names from Latitudes dataset**

In [0]:
corrected_covid_data = covid_data.replace(['Mainland China', 'US', 'Ivory Coast', 'UK',
       'North Macedonia', ' Azerbaijan', 'North Ireland',
       'Republic of Ireland',
       'Congo (Kinshasa)',
       'Congo (Brazzaville)',
       'Republic of the Congo', 'The Bahamas', 'The Gambia',
       'Gambia, The', 'Bahamas, The',
       'Diamond Princess', 'West Bank and Gaza', 'Burma',
       'South Sudan'], ['China', 'United States', "Côte d'Ivoire", 'United Kingdom',
                                                 'Macedonia [FYROM]', 'Azerbaijan', 'Ireland', 'Ireland', 'Congo [DRC]',
                                                 'Congo [DRC]', 'Congo [DRC]', 'Bahamas', 'Gambia', 'Gambia', 'Bahamas',
                                                 'Japan', 'Gaza Strip', 'Myanmar [Burma]', 'Sudan'])
countries_to_drop = ['Others','Palestine', 'Saint Barthelemy', 'St. Martin', 'occupied Palestinian territory', "(St. Martin',)",
                     'Channel Islands', 'Holy See', 'Reunion', 'Curacao', 'Eswatini', 'Cabo Verde', 'East Timor', 'MS Zaandam',
                     'Sao Tome and Principe']

In [14]:
corrected_covid_data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [13]:
#Finding countries in corrected_covid_data but not in latitudes

extra_countries(corrected_covid_data['Country/Region'].unique(), latitudes_countries['country'].unique())

array(['Others', 'Saint Barthelemy', 'Palestine', 'St. Martin',
       'occupied Palestinian territory', "('St. Martin',)",
       'Channel Islands', 'Holy See', 'Reunion', 'Curacao', 'Eswatini',
       'Cabo Verde', 'East Timor', 'MS Zaandam', 'Sao Tome and Principe'],
      dtype='<U30')

## **Enter code to replace the Country/ Region column with the latitude and longitude columns**
Also, drop unnecessary columns

In [16]:
#Replace the Country/ Region column with the latitude and longitude columns

X_covid = corrected_covid_data
latitude_cols = []
for i in X_covid['Country/Region']:
  latitude = 



latitude_col = []
for i in corrected_covid_data['Country/Region']:
  latitude = latitudes_countries[i]['latitude']
  latitude_col.append(latitude)
X_covid['Latitude'] = np.array(latitude_col)
'''
longitude_col = []
for i in corrected_covid_data['Country/Region']:
  longitude = latitudes_countries.loc[[i],['longitude']]
  longitude_col.append(longitude)
X_covid['Longitude'] = np.array(latitude_col)'''

X_covid.head()

KeyError: ignored

In [25]:
latitudes_countries.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [31]:
req_lat_long = latitudes_countries.loc[:,['country','latitude', 'longitude']]
req_lat_long.set_index('country')

                       latitude  longitude
country
Andorra               42.546245   1.601554
United Arab Emirates  23.424076  53.847818
Afghanistan           33.939110  67.709953
Antigua and Barbuda   17.060816 -61.796428
Anguilla              18.220554 -63.068615
...                         ...        ...
Yemen                 15.552727  48.516388
Mayotte              -12.827500  45.166244
South Africa         -30.559482  22.937506
Zambia               -13.133897  27.849332
Zimbabwe             -19.015438  29.154857

[245 rows x 2 columns]

In [0]:
for i in corrected_covid_data['Country/Region']:

In [26]:
latitudes_countries.loc[['China']]['country']

KeyError: ignored