<a href="https://colab.research.google.com/github/newb-dev-1008/GetBoarded_Latitude/blob/ipython/GetBoarded_CoVID_across_Latitudes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project to find the correlation between latitudes and the spread of CoVID-19**

**Objectives/ guidelines to keep in mind:**

*   Segregate all data region-wise
*   Replace the regions column with the corresponding latitudes from the latitudes dataset
*   Visually determine the rates of growth in cases in the most-hit and the least-hit regions
*   Predict the growth of cases and check if latitudes and growth are correlated; whether latitudes behave as a deciding factor in prediction

**IMPORTANT: Remember to add the CSV files everytime you log in to the notebook. The CSV files are kept in the GitHub repository; you can save them to your respective devices and upload them whenever you work.**

**Directions for saving:**

- Go to File - Save a copy on GitHub.
- Select the repository and the branch "ipython".
- **Do not change the name of the Colab notebook while saving.**

Also, try to create a text cell to note the variable names with their specifications wherever possible. It'll be helpful for all teammates.

In [0]:
import pandas as pd

latitudes = pd.read_csv('latitudes.csv')
covid_data = pd.read_csv('covid_19_data.csv')

In [9]:
latitudes_countries = latitudes.iloc[:, :4]
latitudes_countries.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [10]:
covid_data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

**Finding all countries listed in the Country/ Region column of CoVID Dataset:**

In [11]:
covid_data['Country/Region'].unique()   #Returns all unique labels contained in the column
covid_data['Country/Region'].nunique()   #Returns number of unique labels contained in the column

219

**Similarly, finding all countries listed under the 'Country' column of the latitudes dataset**

In [12]:
latitudes_countries['country'].unique()
latitudes_countries['country'].nunique()

245

# **We Observe:**
- China is called "Mainland China" in the CoVID-19 Dataset
- The number of countries in the latitude dataset is more; the countries present in both datasets need to be replaced with their corresponding latitudes

## **Enter code to replace the Country/ Region column with the latitude and longitude columns**
Also, drop unnecessary columns

In [0]:
#Replace the Country/ Region column with the latitude and longitude columns